:root {
	--primary-red: hsl(0, 100%, 74%);
	--main-font-color: hsl(0, 100%, 100%);
	--info-color: hsl(248, 32%, 49%);
	--input-font-color: hsl(249, 10%, 26%);
	--button-color: hsl(154, 59%, 51%);
	--button-shadow-color: hsl(155, 57%, 46%);
	--form-terms-color: hsl(246, 25%, 77%);

	--box-shadow: 0 7px hsla(0, 0%, 0%, 0.15);

	--default-transition: 0.3s ease-in-out;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: var(--main-font-color);
}

.main-container {
	margin: 0 auto;
	max-width: 1440px;
}

.intro {
	display: flex;
	flex-direction: column;
	padding: 6rem 1.5rem 5rem;
	background-color: var(--primary-red);
	background-image: url('./assets/images/bg-intro-mobile.png');
	background-size: cover;
	background-position: center top;
}

.intro__text-content {
	text-align: center;
}

.intro__heading,
.intro__text {
	padding: 0 2rem;
}

.intro__heading {
	margin: 0 0 1.5rem;
	font-size: 1.8em;
	font-weight: 600;
	line-height: 1.4;
}

.intro__text {
	margin: 0 0 4rem;
	line-height: 1.8;
}

.intro__form-information,
.form {
	max-width: 540px;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
}

.intro__form-information {
	margin: 0 auto 2rem;
	padding: 1.25rem 5rem;
	background-color: var(--info-color);
	text-align: center;
	line-height: 1.6;
}

.bolder-text {
	font-weight: 600;
}

.form {
	margin: 0 auto;
	padding: 1.5rem;
	background-color: var(--main-font-color);
}

.form__input-container,
.form__button {
	margin: 0 auto 1rem;
}

.form__input-container {
	position: relative;
}

.form__input,
.form__button {
	border-radius: 5px;
	padding: 1rem 1.25rem;
	width: 100%;
}

.form__input {
	border: 1px solid var(--form-terms-color);
	font-weight: 700;
	color: var(--input-font-color);
	transition: border-color var(--default-transition);
}

.invalid-input {
	border-color: var(--primary-red);
}

.invalid-input ~ .form__error-icon {
	opacity: 1;
}

.form__error-icon {
	position: absolute;
	top: calc(1rem + 1em);
	right: 1.5rem;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity var(--default-transition);
}

.form__error-message {
	margin: 0.5rem 0;
	font-size: 0.8em;
	font-style: italic;
	text-align: right;
	color: var(--primary-red);
}

.form__button {
	padding-top: 1.25rem;
	border: none;
	background-color: var(--button-color);
	font-size: 1.1em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--main-font-color);
	box-shadow: 0 3.5px var(--button-shadow-color);
}

.form__terms {
	margin: 0;
	font-size: 0.9em;
	text-align: center;
	line-height: 2;
	color: var(--form-terms-color);
}

.form__text-highlight {
	font-weight: 600;
	color: var(--primary-red);
}

.footer {
	color: #000;
	margin-top: 5rem;
}

.attribution {
	font-size: 0.733em;
	text-align: center;
}

.attribution__anchor {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 1024px) {
	.intro {
		flex-direction: row;
		align-items: center;
		padding: 8rem 10%;
		background-image: url('./assets/images/bg-intro-desktop.png');
	}

	.intro__text-content,
	.intro__form-container {
		flex-basis: 50%;
	}

	.intro__text-content {
		margin-right: 5rem;
		text-align: left;
	}

	.intro__heading,
	.intro__text {
		padding: 0;
	}

	.intro__heading {
		font-size: 2.5em;
		font-weight: 700;
	}
}
